<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.chat.Dao.ChatMapper">

	<insert id="insertRoom" parameterType="Room">
		INSERT INTO ROOM
		(
			ROOMSEQ	
			,USERID
			,NAME	
			,INDATE
		)
		VALUES
		(
			ROOMSEQ.NEXTVAL
			,#{userId}
			,#{name}
			,SYSDATE
		)
	</insert>
	
	<select id="selectAllRoom" resultType="Room">
	SELECT
		ROOMSEQ	
		,USERID
		,NAME	
		,INDATE
	FROM 
		ROOM
	</select>
	
	<insert id="insertChat" parameterType="Chat">
	INSERT INTO
			CHAT
	(
		CHATSEQ
		,ROOMSEQ
		,USERID	
		,MESSAGE
		,INDATE
	)
	VALUES
	(
		CHATSEQ.NEXTVAL
		,#{roomSeq}
		,#{userId}
		,#{message}
		,SYSDATE
	)
	</insert>
	
	<select id="selectChat" parameterType="String" resultType="Chat">
	SELECT
		CHATSEQ
		,ROOMSEQ
		,USERID	
		,MESSAGE
		,INDATE
	FROM
		CHAT
	WHERE
		ROOMSEQ=#{roomSeq}
	ORDER BY
		INDATE DESC
	</select>

</mapper>
